
@import "tailwindcss";

:root {
	--dark:		#282C34;
	--darker:	#16181D;
	--darkest:	#02040A;
	--red:		#E06C75;
	--yellow:	#E5C07B;
	--blue:		#61AFEF;
	--white:	#FBF1C7;
	--green:	#98C379;
	--purple:	#C678DD;
}

/* @layer base { */
/* } */

	body {
		@apply flex flex-col flex-wrap bg-(--darker) text-(--white) rounded-none h-screen 
		overflow-hidden;
	}
	

	header {
		@apply	flex items-center justify-center w-full h-[10vh];
	}

	main {
		@apply flex-1 flex justify-center flex-col items-center gap-6;
	}
	
	input {
		@apply	bg-(--dark) border-b-2 border-(--blue) px-7 py-3
		focus:outline-none focus:brightness-[1.4]
		hover:brightness-[1.2];
	}

@layer components
{
	.avatar {
		@apply w-full aspect-square object-cover bg-gray-100 rounded-full border-2 border-(--darker);
	}
	
	.banner {
		@apply	w-full flex flex-wrap gap-5;
	}
	
	.line {
		@apply	h-2 w-full bg-(--red) m-0 p-0;
	}
	
}

.avatar-img {
	@apply bg-white rounded-full aspect-square object-cover h-14 min-w-14 border border-(--white);
}

.user-profile {
	@apply	flex w-full max-w-60 h-25 bg-(--dark) p-2 items-center
			/* border-2 border-(--white); */
}

.user-profile #avatar-container {
	@apply	flex h-full aspect-square relative;
}

.user-profile #avatar-name {
	@apply	absolute bottom-0 left-0 right-0 text-center
			rounded-full bg-(--dark) border-2 border-(--darker) text-sm;
}

.user-status {
	@apply	absolute w-[15px] aspect-square rounded-full
			bottom-[25%] bg-(--red);
}
.user-profile #user-stats {
	@apply	flex-1 flex flex-col items-center justify-center;
}
.user-profile #user-stats h1 {
	@apply	text-center;
}

.banner-text {
	@apply	absolute flex items-center justify-center;
}

.banner-text h1 {
	@apply	text-6xl bg-(--darker) px-6 py-4 font-extrabold;
}

.box {
	@apply	border-2 rounded-md border-(--red) p-5 px-12 w-100
			flex flex-col gap-2;
}

.box h1 {
	@apply	text-5xl font-bold underline mb-10;
}

.button-empty {
	@apply	border-(--green) text-(--green) rounded-none border-2 bg-(--dark) py-1 px-5
			hover:brightness-[1.1] active:brightness-[1.5];
}

.button-full {
	@apply	bg-(--green) text-(--dark) border-2 rounded-none border-(--dark) py-1
			hover:brightness-[1.1] active:brightness-[1.5];
}

.header-small {
	@apply w-full h-25 bg-(--dark) flex align-middle justify-between items-center;
}

.banner-small {
	@apply h-full flex align-middle justify-center items-center
}
.banner-small h1 {
	@apply bg-(--dark) z-1 text-2xl py-1 px-3 font-bold;
}

.small-lines {
	@apply absolute w-[30%] flex flex-wrap gap-3;
}

.btn-container {
	@apply flex h-full bg-(--green) ml-5;
}

.user-menu {
	@apply relative py-3 flex h-full justify-center items-center mr-5 gap-3;
}

.user-menu #user-menu-container {
	@apply right-10 -bottom-20 px-3 py-2 w-35 bg-(--dark) border-2 border-(--green) absolute;
}

.hide {
	@apply hidden;
}

.btn {
	@apply text-(--white) select-none p-1 hover:bg-(--white) hover:text-(--darker) rounded-none transition-none
				focus:bg-(--white) focus:text-(--darker) focus:outline-none;
}
