@import "tailwindcss";

.login-container {
	@apply flex flex-row w-full justify-center gap-20 text-center;
}

.oauth-btn {
	@apply	w-[35px] h-[35px] hover:brightness-[1.1] active:brightness-[1.5];
}

.separator {
	@apply	w-[80%] self-center h-0.5 my-2 px-5 bg-(--red);
}

.oauth-container {
	@apply	w-full flex flex-row justify-center gap-5;
}

.guest-container {
	@apply	flex flex-col justify-center items-center;
}

.guest-container .button-empty {
	@apply	px-30;
}
/**/
/* input { */
/* 	@apply	bg-(--dark) border-b-2 border-(--blue) px-3 py-2 */
/* 	focus:outline-none focus:border-(--yellow) */
/* 	hover:brightness-[1.4]; */
/* } */
