* {
	  pointer-events:auto;
}

.crt {
	position: relative;
	overflow: hidden;
	height: 100%;

	display: flex;
	flex-direction: column;

	pointer-events: none;
}

.bootup-lines {
	content: " ";
	background-color: rgba(255, 255, 255, 0.432);
	position: absolute;
	width: 100vw;
	height: 325px;
	transform: scaleY(0);
	z-index: 3;
	pointer-events: none;

	animation: bootup-lines 0.75s linear; 
}


@keyframes bootup-lines {
	0% {
		top: 30%;
		transform: scaleY(1);
	}

	30% {
		top: 150%;
	}
	30.0001% {
		top: -50%;
		transform: scaleY(1);
	}

	70% {
		top: 90%;
		transform: scaleY(1);
	}
	70.001% {
		top: -30%;
		transform: scaleY(1);
	}
	100% {
		top: 100%;
		transform: scaleY(0);
	}

}

@keyframes bootup-screen {
	0% {
		background-color: black;
	}

	30% {
		background-color: black;
	}

	50% {
		background-color: rgba(255, 255, 255, 0.1);
	}

	100% {
		background-color: transparent;
	}
}

.crt-mask {
	position: absolute;
	z-index: 2;
	
	width: 100%;
	height: 110%;
	background-image: radial-gradient(transparent, 85%, rgb(0, 0, 0));
	pointer-events: none;

	animation: bootup-screen 6s;
}

.bootup-text
{
	position: absolute;
	font-size: 62px;
	z-index: 3;
	color: green;
	visibility: hidden;
	user-select: none;
	background-color: black;
	padding-inline: 10px;
	animation: bootup-text 4s linear;
	left: 3%;
	top: 1%;
}

@keyframes bootup-text {
	29% {
		opacity: 0;
		visibility: hidden;
	}

	30% {
		opacity: 1;
		visibility: visible;
	}
	
	99% {
		opacity: 1;
		visibility: visible;
	}
	
	100% {
		opacity: 0;
		visibility: hidden;
	}
}


.crt::before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	pointer-events: none;
	background: 
	linear-gradient(
		rgba(0, 0, 0, 0) 50%,
		rgba(0, 0, 0, 0.25) 50%), /* horizontal bars */
		linear-gradient(90deg,
			rgba(255, 0, 0, 0.1),
			rgba(0, 255, 0, 0.05),
			rgba(0, 0, 255, 0.1) /* vertical bars (rgb) */
			);
	z-index: 99;
	background-size: 100% 4px, 5px 100%;
}

.crt::after {

	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(70, 70, 70, 0.05);
	opacity: 0;
	z-index: 2;
	pointer-events: none;
	animation: flicker 1s infinite;
}

.scanline {
	pointer-events: none;

	position: absolute;
	height: 100%;
	width: 100%;
	animation: scan 6s infinite;
}

.scan {
	pointer-events: none;

	/* z-index: 99999; */
	height: 60px;
	width: 100%;
	/* background-color: blue; */
	background: linear-gradient(transparent, rgb(171, 171, 171, 0.1));
}

@keyframes scan
{
	0% {
		transform: translateY(-20%);
	}

	100% {
		transform: translateY(130%);
	}
}


@keyframes flicker {
	0% {
	opacity: 0.27;
	}
	20% {
	opacity: 0.18;
	}
	40% {
	opacity: 0.26;
	}
	60% {
	opacity: 0.20;
	}
	80% {
	opacity: 0.71;
	}
	100% {
	opacity: 0.24;
	}
}
