global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s
alerting:
  alertmanagers:
    - static_configs:
        - targets: []
scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets:
          - localhost:9090 # replace with real data source