@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.body {
		@apply bg-black min-h-screen flex items-center justify-center;
	}

	.game-container {
		@apply w-[40vw] aspect-[4/3] bg-black border-4 border-white relative;
	}

	.paddle-left {
		@apply absolute left-2 top-1/2 transform -translate-y-1/2 w-2 h-16 bg-white;
	}

	.paddle-right {
		@apply absolute right-2 top-1/2 transform -translate-y-1/2 w-2 h-16 bg-white;
	}

	.net {
		@apply absolute left-1/2 top-0 transform -translate-x-1/2 w-0 h-full border-l-4 border-dashed border-white;
	}

	.ball {
		@apply absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 w-3 h-3 bg-white;
	}

	.score-left {
		@apply absolute top-4 left-1/4 transform -translate-x-1/2 text-white text-2xl font-mono;
	}

	.score-right {
		@apply absolute top-4 right-1/4 transform translate-x-1/2 text-white text-2xl font-mono;
	}
}