@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components
{
	.body			{ @apply bg-[url('../assets/background.avif')] min-h-screen flex items-center justify-center; }
	.game-container	{ @apply w-[40vw] aspect-[4/3] border-[0.4vw] border-white relative; }
	.paddle-left	{ @apply absolute left-[3%] top-1/2 transform -translate-y-1/2 w-[2%] h-[20%] bg-white; }
	.paddle-right	{ @apply absolute right-[3%] top-1/2 transform -translate-y-1/2 w-[2%] h-[20%] bg-white; }
	.net			{ @apply absolute left-1/2 top-0 transform -translate-x-1/2 w-0 h-full border-l-[0.35vw] border-dashed border-white; }
	.ball			{ @apply absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 w-[2%] bg-white aspect-square; }
	.score-left		{ @apply absolute top-[2%] right-1/2 pr-[2vw] text-white text-[3vw] font-mono text-right; }
	.score-right	{ @apply absolute top-[2%] left-1/2 pl-[2vw] text-white text-[3vw] font-mono text-left; }
	.pause-message	{ @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white text-[3vw] font-bold bg-black bg-opacity-60 px-4 py-2 rounded text-center whitespace-nowrap hidden; }
}