.debug-box
{
	height:500px;
	width:1200px;

	padding-inline: 10px;
	border:1px solid #ccc;
	overflow:auto;

	display: flex;
	gap: 10px;
	flex-direction: column-reverse;
}

.user-msg
{
	display: flex;
	justify-content: left;
	gap: 10px;
	padding-top: 20px;
	margin: 0;
	padding:0;
}

.user-msg h1
{
	margin: 0;
	font-size: medium;
}

.user-msg p
{
	white-space: pre;
	tab-size: 4;
	margin: 0;
	font-size: medium;
	color: white;
}

.user-avatar
{
	width: 52px;
	height: 52px;
	object-fit: cover;
	background-color: whitesmoke;
	border-radius: 50%;
}
.user-status
{
	width: 12px;
	height: 12px;
	object-fit: fill;
	background-color: rebeccapurple;
	border-radius: 50%;
}

body
{
	font-family: 'JetBrains Mono', monospace;
	background-color: #151515;
	color: white;
}

.user-container
{
	width: 350px;

	border:1px solid #ccc;
	overflow:auto;
	gap: 10px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}


.friend-req
{
	border: solid 1px #ccc;
	padding: 10px;
	overflow: auto;
	height: 50px;
}
.request
{
	height: 20px;
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
